/*
  Name: Justin Clayton

  This is the main CSS style document and contains all the rules to get a consistent look and feel
  for the web page design. Additionally, it defines the class rules for cards which will be created
  when the user requests songs and handles styling of feedback messages to the user.
*/

/* HTML Selector Rules */
body {
  font-family: "Roboto Slab", monospace;
  margin: 0;
}

button {
  color: white;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
}

button, label, p {
  font-size: 1.1rem;
}

details {
  margin-bottom: 30px;
}

figure {
  margin: 0 auto;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 5px 50px;
  margin-bottom: 0;
}

footer > p > a {
  color: white;
}

footer > p > a:visited {
  color: rgb(172, 171, 171);
}

footer, header {
  background-color: rgb(34, 39, 87);
  color: rgb(230, 231, 220);
}

form, h2, h3, #request-message {
  text-align: center;
}

header {
  margin-bottom: 25px;
  padding: 15px 100px;
}

h1 {
  font-size: 2.6rem;
}

input {
  margin-right: 15px;
}

main {
  width: 80%;
  margin: 15px auto 35px auto;
}

section {
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 15px 50px;
}

section, .card {
  background-color: rgb(226, 226, 226);
  border-radius: 10px;
}

/* Class Rules */
.card {
  width: 250px;
  height: 200px;
  margin: 15px;
  padding-left: 10px;
  border: 2px solid white;
}

.card, #chart, #lyrics > h2 {
  text-transform: capitalize;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

/* ID Rules */
#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#clear-btn {
  background-color: darkorange;
  margin: 10px 30px;
}

#submit-btn {
  background-color: forestgreen;
}