/*
  Name: Justin Clayton
  Date: Aptil 17, 2020
  Section: CSE 154 AD
  This is the main style CSS page for index.html and contains rules to style the poker game.
*/

/* HTML Selector Rules */


/* Class Rules */


/* ID Rules */